# Fonte e documentacao: LF no repositorio.
* text=auto
*.png binary
*.swf binary

# O runtime do AIR fica byte a byte como veio: nada de normalizacao de fim de
# linha, nem no "LGPL License.txt" do WebKit. Esta regra vem por ultimo de
# proposito -- no gitattributes quem casa por ultimo e quem vale.
deps/** -text
